:root {
  --main-bg: #000000;
  --alt-bg: #0c0c11;
  --font: 15px;

  --grey: rgba(209, 208, 208, 0.493);
  --green: rgb(46, 172, 35);
  --red: rgb(172, 35, 35);
  --orange: rgb(172, 117, 35);
  --blue: rgb(84, 102, 206);

  --pink: rgb(196,48,210);
  --purple: #8317d5;
}

@font-face {
    font-family: code;
    src: url(code.ttf);
}

/* Color classes */
.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.blue { 
  color: var(--blue);
}

.pink {
  color: var(--pink);
}

.purple {
  color: var(--purple);
}

/* Gif stuff */
.rainbow {
  color: var(--red);
  -webkit-background-clip: text;
  background-repeat: repeat;
  background-clip: text;
  animation: rainbow 3s linear infinite;
}

.rainbow-alt {
  color: var(--red);
  -webkit-background-clip: text;
  background-repeat: repeat;
  background-clip: text;
  animation: rainbow 15ms linear infinite;
}
  
.upper-list .rainbow:hover {
  animation: rainbow 1s linear infinite;
  color: var(--orange)
}

.red {
  color: var(--red);
}

.green { 
  color: var(--green)
}

body {
    margin: 0;
    padding: 0;
    font-weight: 100;
    background-color: var(--main-bg);
    font-family: code;
    padding-bottom: 35px;
}

body a {
    color: var(--grey);
    text-decoration: none;
    font-weight: bold;
}

#main-container {
    max-width: 1100px;
    margin: 0 auto;
    color: white
}

.evilsite {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 11px;
    text-align: center;
    padding: 25px;
    padding-top: 35px;
    animation: textShadow 1.6s infinite;
}

.ns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ys {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select:all;
  user-select: all;
}

::selection {
  color: #694BD0;
  text-shadow:0 0 3px #FF0000, 0 0 5px #0000FF;
  background: black;
}

#navbar-contained {
  margin-bottom: 0px;
}

.nav {
  margin-left: 0;
  text-align: center;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 0px;
  margin-bottom: 0px;
  background-color: var(--alt-bg);
}

.nav li {
  display: inline-block;
  padding-right: 20px;
}

.nav li a {
  color: var(--grey);
  text-decoration: none;
}

.nav li a:hover {
  color: #bebfc2;
}

.nav .selected {
  border-bottom: solid 2px rgb(50, 51, 113);
  padding-bottom: 3px;
  color: #c0c3c9;
}

#navbar-scrolling {
  background-color: var(--alt-bg);
  margin-bottom: 10px;
  border-top: var(--main-bg) solid 2px;
}

.marquee{
    display:inline-block;
    max-width:200%;
    overflow:hidden;
    font-size: 13px;
    padding:0;
    line-height:1.5;
    position:relative;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1095.2px;
}

.marquee a {
  color: var(--grey);
  text-decoration: none;
  font-weight: bold;
}

@keyframes marquee{
    0%{
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    100% {
      -webkit-transform:translateX(-100%);
      transform:translateX(-100%)
    }
}

.scroll{
    display:inline-block;
    position:relative;
    transform:translateX(100%);
    animation:marquee 18s linear -3.75s infinite
}

.content-wrap {
  margin-top: 0px;
}

.flex {
    display: flex;
}

#content-container {
    width: 60%;
    height: fit-content;
    background-color: var(--alt-bg);

}

.wrapper {
  padding-left: 13px;
  padding-right: 13px;
}

.wrapper-header {
  font-size: var(--font);
  color: #b1b1b1;
  font-weight: 100;
  margin-top: 11.05px;
  margin-bottom: -4.95px;
}

.wrapper-header2 {
  font-size: var(--font);
  color: #b1b1b1;
  font-weight: 100;
}

.rh:hover {
  color: #c2c4c3;
}

a:hover {
  color: #c2c4c3;
}

.text-right {
  float: right;
}

.rh {
  text-decoration: none;
}

.upper-list {
  padding-left: 0px;
  list-style-type:none;
  display: flex;
  justify-content: space-evenly;
}

.upper-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 10em;
  font-weight: 100;
  font-size: var(--font);
}

.user-list {
  padding: 0px;
  list-style-type:none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.user-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 154px;
  font-size: var(--font);
}

.pretext {
  font-size: 14px;
}

hr {
  color: #0000;
  background-color: var(--main-bg);
  border-top: none;
}

.item {
  padding-bottom: 2px;
  margin-top: 10px;
  background-color: black;
  padding-right:0px;
  width: 240px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  white-space: pre-line;
}

.wrapper-p {
  color: #74767a;
  font-size: var(--font);
}

.card-header a {
  color: #c4c2c2;
  font-size: var(--font);
  font-weight: 100;
}

.card-header a:hover {
  color: #c2c4c3;
  font-size: var(--font);
  animation: textShadow 1.6s infinite;

}


.card-description {
  color: #b1b1b1;
  font-size: var(--font);
}

.wrapper-seperator {
  color: var(--main-bg);
  margin-bottom: 0px;
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
}

.useriput {
   padding: 3px;
   width: 100%;
   color: white;
   background-color: transparent;
   border: solid 1px #15141A;
   font-size: 13.3333px;
   font-weight: 400;
}

.button {
   width: 90%;
   background-color: transparent;
   color: white;
   padding: 5px;
   border: solid 2px rgb(50, 51, 113);
}

.button:hover {
   background-color: var(--main-bg);
}

#right-sidebar {
  background-color: var(--alt-bg);
  margin-left: 10px;
  height: fit-content;
}

.smaller-sidebar {
  width: 200px;
}

.bigger-sidebar {
width: 411px;
}

.sidebar-wrapper {
  padding-left: 13px;
  height: fit-content;
  overflow: hidden;
}

.sidebar-wrapper ul {
  padding: 6px 6px 6px 12px;
  font-size: var(--font);
  color: #b1b1b1;
  list-style-type:initial;
  margin-top: -4px;
}

.sidebar-wrapper li {
  color: #74767a;
}

.sidebar-wrapper li a {
  color: #74767a;
  font-weight: 100;
}

.cardz {
  display: flex;
  justify-content: space-evenly;
}

.ucard {
  background-color: var(--alt-bg);
  width: 575px;
  padding: 12px;
}

.cardz-header {
  line-height:1;
  font-weight:700;
  letter-spacing:3px;
  font-size:15px;
  font-family:inherit;
  text-align:center;
  color:#d6d9e0;
  text-shadow:0 0 0 #282433,0 0 5px #282433,0 0 15px #282433;
}
.cardz-description {
  font-size: 16px;
  text-align: center;
}
.cardz ul {
  padding-left: 0px;
}
.cardz li {
  padding-left: 4px;
  padding-top: 4px;
  color: #cdcccf;
  display: inline-block;
  background-color: #13131d;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lisep {
  border-bottom: 1px solid var(--alt-bg);
}

.card-price {
  text-align: center;
  color: #47c515;
}

.gold {
  color: rgb(190, 163, 39);
  text-shadow:0 0 0 #5b3eaa,0 0 5px #e60bf9,0 0 15px #000

}

.starburst {
  color: var(--blue);
  -webkit-filter:contrast(200%);
  -webkit-background-clip: text;
  background-repeat: repeat;
  background-clip: text;
  animation: starburst 3s linear infinite;
}


/* Animations for text */
@keyframes rainbow {
  from {
    -webkit-filter:hue-rotate(0deg)
  }
  to {
    -webkit-filter:hue-rotate(360deg)
  }
}

@keyframes starburst {
  0% {
    -webkit-filter:hue-rotate(0deg);
  }
  50% {
    -webkit-filter:hue-rotate(60deg);
  }  
  100% {
    -webkit-filter:hue-rotate(0deg);
  }
}

/* Animation that we got from neocities */
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(111, 0, 255, 0.3), 0 0 3px;
  }
}

@media only screen and (max-width: 1100px) {
  .evilsite {
    font-size: 10px;
  }

  .flex {
    flex-wrap: wrap;
  }

  .nav {
    margin-bottom: 10px;
  }

  #navbar-scrolling {
    display: none;

  }

  #right-sidebar {
    width: 100%;
    display: block;
    order: 3;
    margin-left: 0;
    height: fit-content;
  }

  #content-container {
    width: 100%;
    display: block;
    order: 1;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 838px) {
  :root {
    --font: 12px;
  }
}


@media only screen and (max-width: 670px) {
  :root {
    --font: 11px;
  }
  .evilsite {
    font-size: 8px;
  }
  .nav {
    font-size: 14px;
  }
}

@media only screen and (max-width: 620px) {
  .nav {
    font-size: 13px;
  }

}

@media only screen and (max-width: 472px) {
  .evilsite {
    font-size: 5px;
  }
  .nav {
    font-size: 12px;
  }
  .nav li {
    padding-right: 15px;
  }
  .rh {
    float:none;
  }
}

@media only screen and (max-width: 420px) {
  .evilsite {
    font-size: 5px;
  }
  .nav {
    font-size: 12px;
  }
  .nav li {
    padding-right: 9px;
  }
}

@media only screen and (max-width: 370px) {
  .nav {
    font-size: 12px;
  }
  .nav li {
    padding-right: 5px;
  }
}





.hidden-checkbox {
  display: none;
}

.hidden-checkbox:checked~.remove-check {
  display: none;
}

.hidden-checkbox:checked~#confirm {
  display: block;
}

.hidden-keygen {
  display: none;
}

.hidden-keygen:checked~.remove-check {
  display: none;
}

.hidden-keygen:checked~#keygen {
  display: block;
}

#userlist {
  display: none;
}

#keygen {
  display: none;
  width: 700px;
  background: #000000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding:10px;
  border: 2px solid rgb(28, 13, 45);
  transform: translate(-50%, -50%);
}

#confirm {
  display: none;
  width: 700px;
  background: #000000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding:10px;
  border: 2px solid rgb(28, 13, 45);
  transform: translate(-50%, -50%);
  
}

.lable-userlist {
  font-weight: 100;
  letter-spacing: 0.009em;
  line-height: 1;
  font-size: var(--font);
  color: #b1b1b1;
  font-weight: 100;
  margin-top: 11.05px;
  padding-bottom:10.05px;
}

.hidden-userlist {
    display: none;
}

.hidden-userlist:checked~.remove-check {
   display:none;
}

.hidden-userlist:checked~#userlist {
   display: block;
}

.signup-options {
  padding-left: 0px;
margin-right: 7px;
margin-left: -4px;
}

.faqinfo{
 color: rgb(177,177,177);
}


.generated-keys {
  white-space: nowrap;
  overflow-x: clip;
}

.key-text {
  text-align: left;
  color: var(--red);
  background: var(--alt-bg);
}
